	body{
		font-size: 12px;
	}
	#toc {
	  height: 100%;
	  left: 0;
	  position: fixed;
	  top: 0;
	  width: 300px;
	margin: 0;
	max-width: none;
	box-shadow: 2px -1px 15px rgba(0,0,0,0.5);
	padding-top: 30px;
	
  }
#content{
	margin-left: 350px;
}
  #header {
    position: fixed;
    top: 0;
    z-index: 1001;
  }
  #header #search {
    position: fixed;
    top: 0;
    left: 8px;
    z-index: 1001;
  }
#header #search a.active{
	padding-bottom: 8px;
}
#search_frame{
	width: 400px;
	border-radius: 5px;
	position: fixed;
	left: 18px;
	right: auto;
	box-shadow: 0px 11px 40px rgba(0,0,0,0.5);
}
  #content {
    position: relative;
    z-index: 1;
  }
	#toc .title {display: none;}
	#toc a:link, #content a:visited { text-decoration: none; color: #05a; }
	#toc a:hover { background: #ffffa5; }
	pre code {
		display: block;
		background: #f3f3ff;
		padding: 12px;
		line-height: 1.3em;
	}
	a.back {
		font-size: 1.2em;
		padding: 4px;
	}
	span.method_desc {
		padding: 3px 0 0 12px;
		font-size: 1.2em;
		display: block;
		border-bottom: 1px lightgray dashed;
	}
	.method_content{
		display: block;
		padding: 0px 10px 10px 10px;
	}
	h2 {
		margin: 2.4em 0 0.5em;
	}
	h2 + p {
		font-size: 1.2em;
		margin-bottom: 62px;
	}
	.method {
		display: block;
		margin-top: 40px;
		padding-top: 0;
		position: relative;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
		border-top: 1px solid lightgray;
	}
	h3 {
		font-size: 1.5em;
		font-weight: normal;
		padding-top: 6px;
		margin: 0px;
	}
	h4 {
		margin: 0;
		font-weight: normal;
		color: rgba(0,0,0,0.6);
	}
	h3.examples{
		line-height: 1.2em;
		font-weight: bold;
	}
	#resources {
		padding: 14px 20px 52px;
	}
	#resources li {
		border-right: 1px solid #0055AA;
		display: block;
		font-size: 1.4em;
		float: left;
		padding-right: 14px;
		padding-left: 12px;
	}
	.resource{
		padding: 12px;
	}
	.resource, .url {
		border: 1px solid white;
		display: block;
		background: #EAF0FF;
	}
	.url{
		position: relative;
	}
	.url_method{
	}
	.url_location{
		padding: 5px 12px 12px 12px;
	}
	#search_frame #search {
		display: none;
	}
	.parameters, .response_fields {
		background: none repeat scroll 0 0 #EAF0FF;
	}
	.parameters .optional,
	.parameters .required,
	.response_fields, .url {
		background: white;
		padding: 0px;
		border: 1px solid white;
	}
	.parameters .optional ul,
	.parameters .required ul,
	.response_fields ul{
		padding-left: 12px;
	}
	.parameters .optional ul li,
	.parameters .required li,
	.response_fields li {
		display: block;
	}
	.parameters .optional ul li .name,
	.parameters .required li .name,
	.response_fields li .name {
		font-weight: bold;
	}
	.parameters li .type,
	.response_fields li .type{
		font-style: italic;
	}
	.parameters .optional ul li .text,
	.parameters .required li .text,
	.response_fields li .text {
	}
	.parameters .optional ul li .text, 
	.parameters .required li .text, 
	.response_fields li .text p,
	.parameters .required .text p{
		display: inline;
	}
	.status_codes{
		background: white;
		padding: 5px 12px;
	}
	.examples {
	}
	.example {			
		border-bottom: 1px solid #BBB;
		display: block;
		padding: 0px 0 12px;
		margin-bottom: 14px;
	}
	.example .description {
		display: block;
		font-size: 1em;
		margin: 8px 0;
	}
	
	.example .hash {
		display: block;
		background: #f9f9ff;
		font-size: 1.1em;
		border-radius: 4px;
		box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
		padding: 12px;
	}
	
	.example .hash .type {
		display: block;
		font-size: 0.8em;
		color: #99A;
		padding-bottom: 6px;
	}
	
	.example .hash.request {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	
	.example .hash.response {
		border-top: 1px solid white;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	
	pre.code.json {
	  margin: 0;
	}
	
	pre.code.json code {
	  position: relative;
	  border: 1px solid transparent;
	  border-radius: 6px;
	}
	
	pre.code.json code:hover {
	  background: #f0f0ff;
	}
	
	pre.code.json code:active {
	  background: #efefff;
	}
	.notes{
		border: 1px solid white;
		background: white;
	}
	.note_item{
		padding: 5px;
	}